{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur LocalJeu
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center">Bienvenue sur LocalJeu</h1>
		<p class="text-center mt-5">Louez vos jeux de socitété, de particulier à particulier</p>

		<div class"d-flex justify-content-bentween flex-wrap mt-4">
			{% for jeu in jeux %}
				<div class="card mt-3" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ jeu.nom }}</h5>
						<p class="card-text">{{ jeu.description }}</p>
						<a href="#" class="btn btn-primary btn-sm">Voir le jeu</a>
					</div>
				</div>
			{% endfor %}


		</div>
	</div>
{% endblock %}
