{% extends 'base.html.twig' %}

{% block title %}Tous les jeu de LocalJeu
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('jeu') }}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center">Tous les jeuBienvenue sur LocalJeu</h1>
		<p class="text-center mt-5">Découvrez l'intégralité de notre ludothéque</p>

		{% include 'jeu/partials/_liste_jeux.html.twig' %}

	</div>
{% endblock %}
